In [32]:
import xlrd
from decimal import Decimal
import pandas as pd

In [33]:
# load excel file with data
# loc = ".\\data.xlsm"
loc = ".\\" + input("Please enter file name with file type extension: ")

wb = xlrd.open_workbook(loc)
# sheet = wb.sheet_by_index(0)

Please enter file name with file type extension: data.xlsm

In [34]:
# ask user for pairs they want to search
pairsInput = input('Type in pairs to evaluate, separate each number with a comma. Ex. 120,130,140,150')

inputList = pairsInput.split(',')
pairsList = []

for x in range(0,len(inputList)-1,2):
  pairsList.append([inputList[x], inputList[x+1]])

Type in pairs to evaluate, separate each number with a comma. Ex. 120,130,140,15050,70,120,150

In [35]:
# print(sheet.cell_value(6,0), sheet.cell_value(6,1), sheet.cell_value(6,2), sheet.cell_value(6,3), sheet.cell_value(6,4), sheet.cell_value(6,5), sheet.cell_value(6,6))

newTable = []

tableColumns = sheet.row_values(6,0,7)

for pair in pairsList:
    for sheet in wb.sheets():
        # print(sheet.row_values(6,0,7))
        for row_num in range(9,sheet.nrows,1):
                row_value = sheet.row_values(row_num,0,7)
                if row_value[0] == int(pair[0]):
                    #print(row_value)
                    row1 = row_value
                if row_value[0] == int(pair[1]):
                    #print(row_value)
                    row2 = row_value

        # print(row1, row1[4], row2[4], ((row1[4]) - (row2[4])))
        separator = ' - '
        newRow = [separator.join(pair),(row1[1]-row2[1]),(row1[2]-row2[2]),(row1[3]-row2[3]),(row1[4]-row2[4]),(row1[5]-row2[5]),(row1[6]-row2[6])]
        # print(newRow)
        newTable.append(newRow)
    
# print(newTable)
pd.DataFrame(newTable, columns=tableColumns)

         Node  DX in.  DY in.  DZ in.  RX deg.  RY deg.  RZ deg.
0     50 - 70  0.0000  0.0000  0.0002   0.0007   0.0000   0.0000
1     50 - 70  0.0000  0.0000  0.0003   0.0010   0.0000   0.0000
2     50 - 70  0.0000  0.0000  0.0003   0.0010   0.0000   0.0000
3     50 - 70  0.0000  0.0000  0.0003   0.0010   0.0000   0.0000
4     50 - 70  0.0000 -0.0060  0.0003   0.0012   0.0000   0.0000
5     50 - 70  0.0000 -0.0060  0.0002   0.0010   0.0000   0.0000
6     50 - 70  0.0000 -0.0060  0.0003   0.0011   0.0000  -0.0002
7     50 - 70  0.0000 -0.0060  0.0003   0.0011   0.0000   0.0002
8     50 - 70  0.0000 -0.0060  0.0003   0.0011   0.0000   0.0000
9     50 - 70  0.0000 -0.0060  0.0003   0.0011   0.0000   0.0000
10  120 - 150  0.0000  0.0059 -0.0002  -0.0005   0.0000   0.0000
11  120 - 150  0.0000  0.0059 -0.0003  -0.0008   0.0000   0.0000
12  120 - 150  0.0000  0.0062 -0.0003  -0.0008   0.0000   0.0000
13  120 - 150  0.0000  0.0061 -0.0003  -0.0008   0.0000   0.0000
14  120 - 150  0.0000 -0.0687 -0.0005  -0.0013   0.0000   0.0000
15  120 - 150  0.0000 -0.0687 -0.0005  -0.0012   0.0000   0.0000
16  120 - 150 -0.0001 -0.0687 -0.0005  -0.0013  -0.0001   0.0003
17  120 - 150  0.0001 -0.0687 -0.0005  -0.0013   0.0001  -0.0003
18  120 - 150  0.0000 -0.0687 -0.0005  -0.0013   0.0000   0.0000
19  120 - 150  0.0000 -0.0687 -0.0005  -0.0012   0.0000   0.0000